/* .footer-container{
    background-color: #302F36;
}
.footer-main{
    padding: 20rem;
}
.footer-widget-menu li a{
    color: #A69EA5;
}
.footer-widget-menu li a:hover{
    color: #0D92F4;
}
.footer-widget-menu li a{
    color: #A69EA5;
    margin-left: 5px;
}
.footer-widget-menu ul{
    margin: 0;
    padding: 0;
}
.footer-widget-title{
    color: white;   
}
.about-company{
    color : #A69EA5;
    margin-top: 20px;
    font-family: sans-serif;;
	font-size: 1.1rem;
}
.newsletter-input{
    background-color: #A69EA5;
    border: #302F36;
}
.newsletter-input:focus{
    background-color: #A69EA5;
    border: none;
    outline: none;
    box-shadow: none;
}
.licence{
    color : #A69EA5;
    font-size: 1.1rem;
} */
 